@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    body{
        height: 100%;
        width: 100%;
    }
    .menu {
      font-size: 20px;
      color: white;
      font-family: sans-serif;
    }

    .clw {
      color: white;
    }

    .fs {
      font-size: 20px;
    }

    .search {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
    }

    .search__input {
      font-family: inherit;
      font-size: inherit;
      background-color: #f4f2f2;
      border: none;
      color: #646464;
      padding: 0.7rem 1rem;
      border-radius: 30px;
      width: 520px;
      transition: all ease-in-out .5s;
      margin-right: -2rem;
    }

    .search__input:hover,
    .search__input:focus {
      box-shadow: 0 0 1em #00000013;
    }

    .search__input:focus {
      outline: none;
      background-color: #f0eeee;
    }

    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #ccc;
    }

    .search__input:focus+.search__button {
      background-color: #f0eeee;
    }

    .search__button {
      border: none;
      background-color: #f4f2f2;
      margin-top: .1em;
    }

    .search__button:hover {
      cursor: pointer;
    }

    .search__icon {
      height: 1.5em;
      width: 1.5em;
      fill: #b4b4b4;

    }

    .paste-button {
      position: relative;
      display: block;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    }

    .button {
      background-color: transparent;
      color: #212121;
      padding: 10px 15px;
      font-size: 15px;
      font-weight: bold;
      border: 2px solid transparent;
      border-radius: 15px;
      cursor: pointer;
    }

    .dropdown-content {
      display: none;
      font-size: 13px;
      position: fixed;
      top: 120px;
      left: 0;
      width: 100%;
      height: 55%;
      background-color: #424242;
      border-radius: 0;
      box-shadow: none;
    }


    .dropdown-content a {
      color: #ffffff;
      padding: 8px 10px;
      text-decoration: none;
      display: block;
      transition: 0.1s;
    }

    .dropdown-content a:hover {
      background-color: #BDBDBD;
      color: #212121;
    }

    .dropdown-content a:focus {
      background-color: #212121;
      color: #4CAF50;
    }

    .paste-button:hover button {
      border-radius: 15px 15px 0px 0px;
    }

    .paste-button:hover .dropdown-content {
      display: block;
    }

    .icon {
      color: white;
      font-size: 35px;

    }

    .envelope {
      color: white;
      font-size: 35px;
    }

    .border1 {
      box-shadow: 0px 0px 30px rgba(255, 0, 0, 0.5),
        0px 0px 30px rgba(255, 255, 0, 0.5),
        0px 0px 30px rgba(0, 255, 0, 0.5);

    }

    .banner {
      background: #222;
      height: 100%;

    }


    .bg {
      background-image: url('img/2.jpg');
      height: 500px;
      width: 100px;
      background-position: center;
      background-size: cover;
      border-radius: 25px;

    }

    .rounded-video {
      border-radius: 15px;
      overflow: hidden;
      margin-left: 30px;
    }


    .container {
      max-width: 1470px;
      width: 100%;
    }

    .slider-wrapper {
      position: relative;
    }

    .slider-wrapper .slide-button {
      position: absolute;
      top: 50%;
      outline: none;
      border: none;
      height: 50px;
      width: 50px;
      z-index: 5;
      color: #fff;
      display: flex;
      cursor: pointer;
      font-size: 1.2rem;
      background: #000;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transform: translateY(-50%);
    }

    .slider-wrapper .slide-button:hover {
      background: #404040;
    }

    .slider-wrapper .slide-button#prev-slide {
      left: -25px;
      display: none;
    }

    .slider-wrapper .slide-button#next-slide {
      right: -25px;
    }

    .slider-wrapper .image-list {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      gap: 20px;
      font-size: 0;
      list-style: none;
      margin-bottom: 30px;
      overflow-x: auto;
      scrollbar-width: none;
    }

    .slider-wrapper .image-list::-webkit-scrollbar {
      display: none;
    }

    .slider-wrapper .image-list .image-item {
      width: 325px;
      height: 320px;
      object-fit: cover;
      border-radius: 15px;
    }

    .container .slider-scrollbar {
      height: 24px;
      width: 100%;
      display: flex;
      align-items: center;
    }

    .slider-scrollbar .scrollbar-track {
      background: #ccc;
      width: 100%;
      height: 2px;
      display: flex;
      align-items: center;
      border-radius: 4px;
      position: relative;
    }

    .slider-scrollbar:hover .scrollbar-track {
      height: 4px;
    }

    .slider-scrollbar .scrollbar-thumb {
      position: absolute;
      background: #000;
      top: 0;
      bottom: 0;
      width: 50%;
      height: 100%;
      cursor: grab;
      border-radius: inherit;
    }

    .slider-scrollbar .scrollbar-thumb:active {
      cursor: grabbing;
      height: 8px;
      top: -2px;
    }

    .slider-scrollbar .scrollbar-thumb::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: -10px;
      bottom: -10px;
    }

    @media only screen and (max-width: 1023px) {
      .slider-wrapper .slide-button {
        display: none !important;
      }

      .slider-wrapper .image-list {
        gap: 10px;
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
      }

      .slider-wrapper .image-list .image-item {
        width: 280px;
        height: 380px;
      }

      .slider-scrollbar .scrollbar-thumb {
        width: 20%;
      }
    }

    .product-card {
      width: 270px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #fff;
      overflow: hidden;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s;
      margin: 30px 0px 0px 20px;
    }

    .product-card:hover {
      transform: scale(1.05);
    }

    .product-image {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    .product-details {
      padding: 15px;
    }

    .product-title {
      font-size: 18px;
      margin: 0;
      color: #333;
    }

    .product-price {
      font-size: 20px;
      color: #e67e22;
      margin: 10px 0;
    }

    .product-rating {
      color: #f39c12;
      margin: 5px 0;
    }

    .product-rating i {
      margin-right: 2px;
    }

    .buy-now {
      display: block;
      width: 100%;
      text-align: center;
      padding: 10px 0;
      background-color: #27ae60;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      margin-top: 10px;
      transition: background-color 0.2s;
    }

    .buy-now:hover {
      background-color: #2ecc71;
    }

    .custom-title {
      color: white;
      font-size: 30px;
      margin: 0 0 0 0px;
      font-family: sans-serif;
    }

    .glow-on-hover {
      width: 220px;
      height: 50px;
      outline: none;
      color: #fff;
      background: #111;
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 30px;
      margin-left: 90px;
    }

    .glow-on-hover:before {
      content: '';
      background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
      position: absolute;
      top: -2px;
      left: -2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing 20s linear infinite;
      opacity: 1;
      transition: opacity .3s ease-in-out;
      border-radius: 30px;

    }

    .glow-on-hover:active {
      color: #000
    }

    .glow-on-hover:active:after {
      background: transparent;
    }

    .glow-on-hover:hover:before {
      opacity: 1;
    }

    .glow-on-hover:after {
      z-index: -1;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #111;
      left: 0;
      top: 0;
      border-radius: 30px;
    }

    @keyframes glowing {
      0% {
        background-position: 0 0;
      }

      50% {
        background-position: 400% 0;
      }

      100% {
        background-position: 0 0;
      }
    }

    .container5 {
      width: 100%;
      max-width: 1500px;
      margin: 0 auto;
      padding: 20px;
      background-color: #2a2a2a;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      border-radius: 8px;
    }

    header {
      background-color: #ff9800;
      color: #212121;
      padding: 20px;
      text-align: center;
      border-radius: 8px 8px 8px 8px;
      font-family: 'Poppins';
    }

    h1 {
      margin: 0;

      font-size: 2.5em;
    }

    .about-container {
      margin-top: 20px;
      padding: 20px;
      background-color: #333;
      color: white;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

    .about {
      max-width: 100%;
      font-family: 'Poppins';
    }

    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px;
    }

    .content section {
      flex: 1;
      min-width: 280px;
      margin: 10px;
      padding: 20px;
      background-color: #33333371;
      border: 1px solid #444;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

    .contact-info {
      background-color: #3e2723;
      color: white;
      font-family: 'Poppins';
    }

    .policies {
      background-color: #004d40;
      font-family: 'Poppins';

    }

    .account {
      background-color: #1a237e;
      font-family: 'Poppins';

    }

    h2 {
      color: #ff9800;
      font-family: 'Poppins';
    }

    .footer {
      font-family: 'Poppins';
      text-align: center;
      padding: 10px;
      background-color: #ff9800;
      color: #212121;
      border-radius: 0 0 8px 8px;
      margin-top: 20px;
    }

    a {
      color: white;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    p {
      line-height: 1.6;
    }

    .payment-icons {
      display: flex;

    }

    .payment-icons img {
      width: 900px;
      /* Adjust size as needed */
      margin: 0 10px;
      /* Add spacing between icons */
    }